* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  padding-top: 4rem;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,p {
  margin: 0px;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.tooltip-error {
 position: relative;
 height: 20px;
 margin-left: 1rem;
}

.tooltip-error span {
  width: 160px;
  padding: 8px;
  border-radius: 4px;
  background: #c53030;
  color: #fff;
  font-weight: 500;
  opacity: 1;
  visibility: hidden;

  position: absolute;
  bottom: calc(100% + 12px);
  left: 30%;
  transform: translateX(-50%);
}

.tooltip-error span::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #c53030 transparent;
  border-width: 6px 6px 0 6px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-error:hover span {
  opacity: 1;
  visibility: visible;
}
